.pcard {
  @apply relative col-span-3 md:col-span-2 lg:col-span-1 rounded-sm shadow-xl h-32 cursor-pointer flex justify-center items-center;
  background-color: var(--light);
  background-position: top center;
  background-size: cover;
  transition: all 0.3s;
  animation: swingInTop 1s ease 0s 1 normal forwards;
  @keyframes swingInTop {
    0% {
      opacity: 0;
      transform: rotateX(-100deg);
      transform-origin: top;
    }
  
    100% {
      opacity: 1;
      transform: rotateX(0deg);
      transform-origin: top;
    }
  }
  .overlay {
    background-color: var(--darkGlass);
    @apply absolute w-full h-full hover:bg-transparent flex justify-center items-center;
    transition: all 0.5s;
    .corners {
      @apply absolute;
      width: 90%;
      height: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
      .corner {
        @apply absolute;
        width: 30px;
        height: 30px;
        border: 2px solid var(--main);
        &:nth-child(1) {
          top: 0;
          left: 0;
          border-right: 0;
          border-bottom: 0;
        }
        &:nth-child(2) {
          top: 0;
          right: 0;
          border-left: 0;
          border-bottom: 0;
        }
        &:nth-child(3) {
          bottom: 0;
          left: 0;
          border-right: 0;
          border-top: 0;
        }
        &:nth-child(4) {
          bottom: 0;
          right: 0;
          border-left: 0;
          border-top: 0;
        }
      }
    }
    p {
      @apply font-bold;
      color: var(--light);
    }
    &:hover {
      .corners {
        width: 80%;
        height: 80%;
      }
      p {
        @apply hidden;
      }
    }
  }
}
