.FloatingInput_wrapper {
  @apply relative m-2;
  max-width: 300px;
  input {
    @apply w-full bg-transparent border-b rounded-sm py-1 px-2;
    border-color: var(--light);
    transition: all 0.2s;
    margin-bottom: 1px;
    &:focus {
      @apply border-b-2 mb-0;
      outline: none;
      & + label {
        @apply -top-4;
        background-color: var(--dark);
      }
    }
    &.invalid {
      @apply border-error;
    }
    &.bordered {
      @apply border;
      margin: 1px;
      &:focus {
        @apply border-2 m-0;
      }
    }
  }
  label {
    @apply absolute top-0.5 left-2 font-bold cursor-text;
    transition: all 0.2s;
    &.focused {
      @apply -top-4;
      background-color: var(--dark);
    }
  }
  .error {
    @apply text-error;
  }
}
