.TagsInput_wrapper {
  @apply relative m-2;
  width: 300px;
  .TagsInput_container {
    @apply list-none flex justify-start items-center bg-transparent flex-wrap;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--light);
    &.focused {
      @apply border-main;
      label {
        @apply text-main;
        top: -12px;
        font-size: 14px;
      }
    }
    &.invalid {
      @apply border-error;
      animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
      label {
        @apply text-error;
      }
    }
    ul {
      @apply list-none flex justify-start items-center flex-wrap;
      li {
        @apply flex justify-center items-center bg-main p-1 m-1 rounded-md text-sm;
        color: var(--dark);
        i {
          @apply rounded-full ml-2 p-0.5 cursor-pointer;
          color: var(--dark);
          background-color: var(--light);
        }
      }
    }
    input {
      @apply bg-transparent p-1;
      font-size: 18px;
      outline: none;
      transition: all 0.3s;
      color: var(--light);
      &::placeholder {
        @apply text-sm;
      }
    }
    label {
      @apply absolute;
      left: 10px;
      top: 10px;
      transition: all 0.2s;
      padding: 0 2px;
      z-index: 1;
      color: #b3b3b3;
      font-size: 16px;
      &::before {
        @apply absolute w-full;
        content: "";
        height: 5px;
        background: var(--dark);
        left: 0px;
        top: 10px;
        z-index: -1;
      }
      &.filled {
        @apply text-main;
        top: -12px;
        font-size: 14px;
      }
    }
  }
  .error {
    @apply text-error text-sm;
    animation: slideInRight 1s ease 0s 1 normal forwards;
    @keyframes slideInRight {
      0% {
        opacity: 0;
        transform: translateX(250px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
