.Home_warpper {
  @apply relative isolate;
  section {
    @apply relative flex flex-col items-center min-h-screen p-10;
    .section_title {
      @apply flex flex-col items-center justify-center;
      .tip {
        @apply text-center mb-8 font-bold text-xs;
        letter-spacing: 5px;
      }
      div {
        @apply relative flex items-center justify-center text-xl rounded-full w-10 h-10 text-white dark:text-black mt-24;
        &::before {
          @apply content-[""] h-24 w-0.5 absolute bottom-10 bg-gradient-to-b from-white dark:from-black;
        }
        &.bg_blue_grad::before {
          @apply via-blueGradStart to-blueGradEnd;
        }
        &.bg_purple_grad::before {
          @apply via-purpleGradStart to-purpleGradEnd;
        }
        &.bg_orange_grad::before {
          @apply via-orangeGradStart to-orangeGradEnd;
        }
      }
      h2 {
        @apply text-3xl mt-5 mb-2;
        font-family: "Inter-ExtraBold";
      }
      h3 {
        @apply text-3xl sm:text-5xl text-center;
        font-family: "Inter-ExtraBold";
      }
    }
    .description {
      @apply w-full md:w-[70%] text-base lg:text-xl text-center my-8 leading-8 lg:leading-9;
    }
  }
  #first_section {
    @apply justify-center -mt-16 relative;
    .titles {
      @apply flex items-center justify-center gap-2 flex-wrap;
      > div {
        font-family: "Inter-ExtraBold";
        @apply relative text-5xl sm:text-6xl xl:text-7xl 2xl:text-8xl font-extrabold inline-block;
        &::before {
          @apply content-[attr(title)] absolute top-0 left-0 w-full h-full opacity-100 text-secondary-dark-100 dark:text-gray-200 text-center;
          transition: opacity 3s;
        }
        &.active::before {
          @apply opacity-0;
        }
      }
    }
    .buttons {
      @apply w-full sm:w-1/2 mx-auto flex flex-col lg:flex-row items-center justify-center gap-10 p-7 pb-0;
      .glowing_button {
        $blueGradEnd: #00dfd885;
        $purpleGradEnd: #ff008085;
        $orangeGradEnd: #f9cb2885;
        @apply relative w-full lg:w-fit flex items-center justify-center bg-gradient-to-r p-[1px] rounded-md text-black dark:text-white;
        transition: all 2s;
        span {
          @apply absolute w-full h-full top-0 left-0 rounded-md opacity-0;
          transition: all 2s;
        }
        &.active_0 {
          filter: drop-shadow(2px 2px 20px $blueGradEnd);
          .bg_blue_grad {
            @apply opacity-100;
          }
        }
        &.active_1 {
          filter: drop-shadow(2px 2px 20px $purpleGradEnd);
          .bg_purple_grad {
            @apply opacity-100;
          }
        }
        &.active_2 {
          filter: drop-shadow(2px 2px 20px $orangeGradEnd);
          .bg_orange_grad {
            @apply opacity-100;
          }
        }
        > div {
          @apply w-full text-center relative bg-white dark:bg-black rounded-md transition-all 
          text-transparent py-3 px-6 text-black dark:text-white hover:text-white;
        }
        &:hover > div {
          @apply bg-transparent;
        }
      }
    }
    .mouse {
      @apply flex mt-5 border-2 border-black dark:border-white;
      width: 23px;
      height: 40px;
      border-radius: 20px;
      .mouse_wheel {
        @apply block m-auto rounded-full bg-black dark:bg-white;
        width: 2px;
        height: 7px;
        animation: move-wheel 1.7s linear infinite;
        @keyframes move-wheel {
          0% {
            transform: translateY(-1.6rem);
          }
          50% {
            transform: translateY(-0.6rem);
          }
          100% {
            transform: translateY(-1.6rem);
          }
        }
      }
    }
  }
  .educations_wrapper {
    @apply flex flex-col lg:flex-row items-center justify-center gap-16 py-16 overflow-x-hidden;
  }
}
