.componentViewer_wrapper {
  @apply w-full p-5 my-6 flex flex-col justify-center items-center;
  .tab_list {
    @apply w-full flex flex-wrap text-sm font-medium text-center text-gray-500;
    li {
      @apply flex items-center justify-center w-fit py-2 px-4 rounded-t-lg hover:text-main cursor-pointer mr-1;
      transition: all 0.3s;
      &.active {
        @apply text-main;
        background-color: var(--dark2);
      }
    }
  }
  .content_wrapper {
    @apply w-full flex items-center justify-center p-5;
    min-height: 100px;
    background-color: var(--dark2);
    .code_wrapper {
      @apply relative w-full;
      .tools {
        @apply absolute right-2 top-4 flex items-center justify-center z-10;
        .download_btn {
          @apply bg-main bg-opacity-60 p-2 rounded-md mx-2;
        }
        .copy_btn {
          @apply bg-main bg-opacity-60 rounded-md w-8 h-8 flex justify-center items-center cursor-pointer;
        }
      }
    }
  }
}
