.wrapper {
  @apply w-full pb-52 m-auto;
  background-color: var(--dark);
  .aboutMeImage {
    @apply flex flex-col items-center justify-center w-full lg:w-1/2;
    img {
      width: 50%;
      height: auto;
      @media screen and (max-width: 991px) {
        width: 80%;
      }
    }
  }
  .descriptionWrapper {
    @apply flex flex-col items-center justify-center w-full lg:w-1/2;
    @media screen and (max-width: 991px) {
      @apply h-full items-start;
    }
    .description {
      padding: 2rem 1rem 2rem 6rem;
      @media screen and (max-width: 991px) {
        padding: 0 1rem;
      }
      p {
        text-align: justify;
        color: var(--light);
      }
    }
  }
}
