nav {
  @apply sticky top-0 py-3 z-50 transition-all border-b border-transparent 
  bg-[rgba(255,255,255,0.7)] dark:bg-[rgba(0,0,0,0.7)] text-sm;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  > div {
    @apply w-[90%] xl:w-[70%] flex items-center justify-between mx-auto;
  }
  &.isSticky {
    @apply border-secondary-light-100 dark:border-secondary-dark-200;
  }
  .logo {
    @apply flex items-center justify-center text-black dark:text-white;
    img {
      @apply w-12 h-auto -mr-2;
    }
    div {
      @apply text-xl font-bold;
    }
  }
  .menu_toggler {
    @apply lg:hidden text-4xl;
  }
  .menu {
    @apply hidden lg:flex items-center justify-center gap-3;
    a {
      @apply px-2 py-1 hover:text-gray-200 transition-all cursor-pointer;
    }
  }
  @media (max-width: 1024px) {
    .menu.isOpen {
      @apply fixed flex flex-col w-full left-0 top-16 
      h-[calc(100vh-4rem)] p-5 bg-black;
      background-color: rgba(0, 0, 0, 0.96);
      backdrop-filter: blur(5px) saturate(180%);
      -webkit-backdrop-filter: blur(5px) saturate(180%);
      li {
        @apply border-b border-gray-500 py-2;
      }
    }
  }

  .theme_selector {
    @apply flex gap-2 border border-secondary-light-100 
    dark:border-secondary-dark-300 rounded-full p-0.5;
    > button {
      @apply p-1.5 text-[#929292] dark:text-[#888];
      &.active {
        @apply bg-secondary-light-100 dark:bg-secondary-dark-300 
        rounded-full text-black dark:text-white;
      }
    }
  }
}
