.education_card {
  @apply mx-auto h-[350px] border bg-secondary-light-200 dark:bg-secondary-dark-100
  border-secondary-light-100 dark:border-secondary-dark-200 rounded-lg overflow-hidden shadow-xl hover:shadow-2xl transition-all;
  width: 320px;
  @media (max-width: 380px) {
    width: 100%;
}
  .card_thumbnail {
    @apply h-[40%] flex items-center justify-center;
    > .image {
      @apply h-24 w-24 bg-[url('~/assets/images/uniLogos.png')];
      background-size: 200%;
    }
  }
  .card_body {
    @apply flex flex-col justify-between h-[60%] rounded-t-3xl p-5 bg-white dark:bg-black;
    .card_desc {
      @apply text-black dark:text-white;
    }
    .card_footer {
      @apply flex items-center justify-between;
      > div:nth-child(1) {
        @apply text-sm;
      }
      > div:nth-child(2) button {
        @apply w-10 h-10 text-xl border border-secondary-dark-400 rounded-full transition-all;
      }
    }
  }
  &:hover .card_footer > div:nth-child(2) button {
    @apply bg-secondary-light-100 dark:bg-secondary-dark-100 -rotate-45;
  }
}
