.box_container {
  @apply relative border border-main p-2 border-opacity-20;
  .header {
    @apply w-full text-center p-3;
    background-color: var(--dark2);
    h3 {
      @apply text-3xl;
    }
  }
  .content {
    animation: swingInTop 1s ease 0s 1 normal forwards;
    @keyframes swingInTop {
      0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
      }

      100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
      }
    }
  }
}
