.wrapper {
  @apply h-screen w-screen flex flex-col justify-center items-center;
  background-color: var(--dark);
  .midLogoWrapper {
    width: 42vw;
    user-select: none;
    @media screen and (max-width: 992px) {
      width: 60vw;
    }
    @media screen and (max-width: 600px) {
      width: 70vw;
    }
    @media screen and (max-width: 400px) {
      width: 100vw;
    }
    .midLogobg {
      background-image: url("/assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0.8;
      img {
        @apply w-full h-auto;
        &.light_logo {
          background-color: var(--dark);
          mix-blend-mode: lighten;
        }
      }
    }
  }
  .socialMedias {
    @apply flex justify-center items-center list-none;
    margin-bottom: 1rem;
    li {
      margin: 0 7px;
    }
  }
  .mouse {
    @apply flex mt-5;
    width: 23px;
    height: 40px;
    border: 2px solid var(--light);
    border-radius: 20px;
    .mouse_wheel {
      @apply block m-auto rounded-full;
      width: 2px;
      height: 7px;
      background-color: var(--light);
      animation: move-wheel 1.7s linear infinite;
      @keyframes move-wheel {
        0% {
          transform: translateY(-1.6rem);
        }
        50% {
          transform: translateY(-.6rem);
        }
        100% {
          transform: translateY(-1.6rem);
        }
      }
    }
  }
}
