.container {
  @apply w-full relative col-span-3 rounded-md 
  shadow-lg xl:ml-0  ring-1 ring-inset ring-white/10 my-5;
  background: var(--dark2);

  .title_wrapper {
    @apply relative flex text-slate-400 text-sm leading-6;
    .title {
      @apply mt-2 flex-none border-t text-main border-b 
        border-t-transparent border-b-main px-4 
        py-1 flex items-center;
    }
  }
  .tab_bar {
    @apply flex-auto flex pt-2 rounded-tr-xl overflow-hidden;
    div {
      @apply flex-auto -mr-px bg-slate-700/50 border border-slate-500/30 rounded-tl;
    }
  }
  .content {
    @apply relative;
    pre {
      &::-webkit-scrollbar {
        height: 8px;
        border-radius: 3px;
        background-color: var(--scrollbar);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 3px;
      }
    }
  }
}
