.absolute_shape {
  @apply absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
  > div {
    @apply relative aspect-[1155/678] w-[36.125rem] rotate-[30deg] bg-gradient-to-tr opacity-30 sm:w-[72.1875rem] -translate-x-1/2;
    clip-path: polygon(
      74.1% 44.1%,
      100% 61.6%,
      97.5% 26.9%,
      85.5% 0.1%,
      80.7% 2%,
      72.5% 32.5%,
      60.2% 62.4%,
      52.4% 68.1%,
      47.5% 58.3%,
      45.2% 34.5%,
      27.5% 76.7%,
      0.1% 64.9%,
      17.9% 100%,
      27.6% 76.8%,
      76.1% 97.7%,
      74.1% 44.1%
    );
  }
  &.top_left {
    @apply -top-40 sm:-top-80;
    > div {
      @apply left-[calc(50%-11rem)] sm:left-[calc(50%-30rem)];
    }
  }
  &.top_right {
    @apply -top-40 sm:-top-80;
    > div {
      @apply left-[75%];
    }
  }
  &.bottom_left {
    @apply -bottom-48;
    > div {
      @apply left-[13%];
    }
  }
  &.bottom_right {
    @apply -bottom-40;
    > div {
      @apply left-[75%];
    }
  }
}
