* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: ltr;
  scroll-behavior: smooth;
}
body {
  @apply bg-white text-[#666] dark:bg-black dark:text-[#888];
  font-family: "Inter";
}

.text_simple_grad {
  @apply text-transparent bg-clip-text py-2;
  background-image: linear-gradient(180deg, #000000cc, #000);
}
.bg_blue_grad {
  @apply bg-gradient-to-r from-blueGradStart to-blueGradEnd;
}
.text_blue_grad {
  @extend .bg_blue_grad;
  @apply text-transparent bg-clip-text;
}
.bg_purple_grad {
  @apply bg-gradient-to-r from-purpleGradStart to-purpleGradEnd;
}
.text_purple_grad {
  @extend .bg_purple_grad;
  @apply text-transparent bg-clip-text;
}
.bg_orange_grad {
  @apply bg-gradient-to-r from-orangeGradStart to-orangeGradEnd;
}
.text_orange_grad {
  @extend .bg_orange_grad;
  @apply text-transparent bg-clip-text;
}
.page_title {
  @apply flex flex-col items-center justify-center my-10;
  h1 {
    @apply text-center relative text-4xl sm:text-5xl xl:text-6xl 2xl:text-7xl;
    font-family: "Inter-ExtraBold";
  }
  .description {
    @apply w-full lg:w-[80%] text-base lg:text-xl text-justify lg:text-center leading-8;
  }
}
html.dark {
  color-scheme: dark;
  .text_simple_grad {
    background-image: linear-gradient(180deg, #fff, #ffffffbf);
  }
}
