* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: ltr;
  scroll-behavior: smooth;
}
.scroll_styles {
  &::-webkit-scrollbar {
    @apply w-3.5 h-3.5;
    color-scheme: dark;
  }
  &::-webkit-scrollbar-track {
    @apply bg-[#424242];
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-[#686868];
  }
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-[#7B7B7B];
  }
  &::-webkit-scrollbar-thumb:active {
    @apply bg-[#A1A1A1];
  }
}
body {
  @extend .scroll_styles;
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: "Inter";
}

.bg_blue_grad {
  @apply bg-gradient-to-r from-blueGradStart to-blueGradEnd;
}
.text_blue_grad {
  @extend .bg_blue_grad;
  @apply text-transparent bg-clip-text;
}
.bg_purple_grad {
  @apply bg-gradient-to-r from-purpleGradStart to-purpleGradEnd;
}
.text_purple_grad {
  @extend .bg_purple_grad;
  @apply text-transparent bg-clip-text;
}
.bg_orange_grad {
  @apply bg-gradient-to-r from-orangeGradStart to-orangeGradEnd;
}
.text_orange_grad {
  @extend .bg_orange_grad;
  @apply text-transparent bg-clip-text;
}
